{% extends "base.html" %}
{% load static %}

{% block content%}
  <main class="main">
    <div class="container">
      <div class="row">

        <div class="col-lg-9 section">
          <div class="row author-profile ">
            <div class="col-lg-3 mb-4 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="author-image">
                  <img src="{{ user.photo.url }}" alt="Author" class="img-fluid rounded">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="author-info">

                <div class="row d-flex align-items-center">
                  <div class="col">
                    <h2>{{ user.username }}</h2>
                  </div>
                  <div class="col d-flex justify-content-end">
                    {% if request.user.is_authenticated %}
                      {% if user == request.user %}
                        <button><a href="{% url 'edit_profile' %}">Редактировать</a></button>
                      {% else %}
                        <button>Подписаться</button>
                      {% endif%}
                    {% endif %}
                  </div>
                </div>

                <div class="row">
                  {% if user.designation %}
                    <p class="designation">{{ user.designation }}</p>
                  {% endif %}
                </div>

                <div class="author-bio">
                  {% if user.bio %}
                    {{ user.bio }}
                  {% endif %}
                </div> 

                <div class="author-stats d-flex justify-content-between text-center">
                  <div class="stat-item">
                    <h4 data-purecounter-start="0" data-purecounter-end="{{ user.published_articles.count }}" data-purecounter-duration="1" class="purecounter"></h4>
                    <p>Статьи</p>
                  </div>
                  {% if user.published_news %}
                    <div class="stat-item">
                      <h4 data-purecounter-start="0" data-purecounter-end="{{ user.published_news.count }}" data-purecounter-duration="1" class="purecounter"></h4>
                      <p>Новости</p>
                    </div>
                  {% endif %}
                  <div class="stat-item">
                    <h4 data-purecounter-start="0" data-purecounter-end="{{ user.bookmarks.count }}" data-purecounter-duration="1" class="purecounter"></h4>
                    <p>Закладки</p>
                  </div>
                  <div class="stat-item">
                    <h4 data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter">K</h4>
                    <p>Followers</p>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="row mt-3">

            <div class="author-content" >
              <div class="content-body">
                <div class="featured-articles">
                  <div class="row g-4">
                    {% for article in user.published_articles %}
                      <div class="col-md-4">
                        <article class="article-card">
                          <div class="article-img">
                              <img src={% if article.cover_image %}"{{ article.cover_image.url}}"{% endif %} alt="Article" class="img-fluid">
                          </div>
                          <div class="article-details">
                            <div class="post-category">{{ article.category.name }}</div>
                            <h5><a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:60 }}</a></h5>
                            <div class="post-meta">
                              <span><i class="bi bi-clock"></i>{{ article.published|date:"d M Y H:i"}}</span>
                              <span><i class="bi bi-chat-dots"></i>{{ article.comments.count }}</span>
                            </div>
                          </div>
                        </article>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-3 sidebar">
          {% include "sidebar.html" %}
        </div>
      </div>
    </div>

  </main>



    <section id="profile" class="section-bg">
        <div class="container profile">
            <div>
                {% comment %} <img class="user_photo" src="{{ user.photo.url}}"> {% endcomment %}
            </div>
            <br>

            <div>
                <h3>Ваши статьи</h3>
                {% for article in user.articles.all %}
                    {{ article.status }} <a href={{ article.get_absolute_url}}>{{ article.title }}</a>
                    <br>
                {% endfor %}
            </div>

            <div>
                <h3>Bookmarks</h3>
                {% for bookmark in user.bookmarks.all %}
                    <a href={{ bookmark.article.get_absolute_url}}>{{ bookmark.article.title }}</a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

