{% extends "base.html" %}
{% load static %}

{% block content%}
  <main class="main">
    <div class="container">
      <div class="row">

        <div class="col-lg-9 section">
          <div class="row author-profile ">
            <div class="col-lg-3 mb-4 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="author-image">
                  <img src={% if user.photo %}"{{ user.photo.url }}"{% else %}"/media/default/default_user_photo.jpg"{% endif %} alt="Author" class="img-fluid rounded">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="author-info">

                <div class="row d-flex align-items-center">
                  <div class="col">
                    <h2>{{ user.username }}</h2>
                  </div>
                  <div class="col d-flex justify-content-end">
                    {% if request.user.is_authenticated %}
                      {% if user == request.user %}
                        <button><a href="{% url 'edit_profile' %}">Редактировать</a></button>
                      {% else %}
                        <button class="follow-btn" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow">
                          {% if request.user not in user.followers.all %}
                            Подписаться
                          {% else %}
                            Отписаться
                          {% endif %}
                        </button>
                      {% endif%}
                    {% endif %}
                  </div>
                </div>

                <div class="row">
                  {% if user.designation %}
                    <p class="designation">{{ user.designation }}</p>
                  {% endif %}
                </div>

                <div class="author-bio">
                  {% if user.bio %}
                    {{ user.bio }}
                  {% endif %}
                </div> 

                <div class="author-stats d-flex justify-content-between text-center">
                  <div class="stat-item">
                    <h4 data-purecounter-start="0" data-purecounter-end="{{ counts.articles_count }}" data-purecounter-duration="1" class="purecounter"></h4>
                    <p>Статьи</p>
                  </div>
                  {% if user_news %}
                    <div class="stat-item">
                      <h4 data-purecounter-start="0" data-purecounter-end="{{ counts.news_count }}" data-purecounter-duration="1" class="purecounter"></h4>
                      <p>Новости</p>
                    </div>
                  {% endif %}
                  <div class="stat-item">
                    <h4 data-purecounter-start="0" data-purecounter-end="{{ counts.bookmarks_count }}" data-purecounter-duration="1" class="purecounter"></h4>
                    <p>Закладки</p>
                  </div>
                  <div class="stat-item">
                    <h4 data-purecounter-start="0" data-purecounter-end="{{ counts.followers_count }}" data-purecounter-duration="1" class="purecounter" id="followers-counter"></h4>
                    <p>Подписчики</p>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="author-content" >

              <div class="content-body">
                <div class="featured-articles">
                  <div class="row g-4">
                    {% for article in user_articles %}
                      <div class="col-md-4">
                        <article class="article-card">
                          <div class="article-img">
                              <img src={% if article.cover %}"{{ article.cover.url}}"{% else %}"/media/default/default_article_cover.jpg"{% endif %} alt="Article" class="img-fluid">
                          </div>
                          <div class="article-details">
                            <div class="post-category">{{ article.category.name }}</div>
                            <h5><a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:60 }}</a></h5>
                            <div class="post-meta">
                              <span><i class="bi bi-clock"></i>{{ article.published|date:"d M Y H:i"}}</span>
                              <span><i class="bi bi-chat-dots"></i>{{ article.comments_count }}</span>
                            </div>
                          </div>
                        </article>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              
              <div class="content-body">
                <h3>Новости</h3>
                {% if user_news %}
                  {% for n in user_news %}
                      <a href={{ n.get_absolute_url}}>{{ n.title }}</a>
                      <br>
                  {% endfor %}
                {% else %}
                  Пока нет новостей
                {% endif %}
              </div>
              <br>

              <div class="content-body">
                <h3>Закладки</h3>
                {% if user_bookmarks %}
                  {% for bookmark in user_bookmarks %}
                      <a href={{ bookmark.article.get_absolute_url}}>{{ bookmark.article.title }}</a>
                      <br>
                  {% endfor %}
                {% else %}
                  Пока нет закладок
                {% endif %}
              </div>
              <br>

              <div class="content-body">
                <h3>Комментарии</h3>
                {% if user_comments %}
                  {% for comment in user_comments %}
                    {% if comment.is_active %}
                      <a href={{ comment.content_object.get_absolute_url}}>{{ comment.content_object.title }} - {{ comment.text|truncatechars:50 }}</a>
                      <br>
                      {% endif %}
                  {% endfor %}
                {% else %}
                  Пока нет комментариев
                {% endif %}
              </div>
              <br>

              {% if user == request.user %}
                <div class="content-body">
                  <h3>Ваши подписки</h3>
                  {% for u in user.following.all %}
                    <a href={{ u.get_absolute_url }}>{{ u.username }}</a>
                    <br>
                  {% endfor %}
                  <br>
                  <br>
                  <h3>Ваши подписчики</h3>
                  {% for u in user.followers.all %}
                    <a href={{ u.get_absolute_url }}>{{ u.username }}</a>
                    <br>
                  {% endfor %}
                </div>
                <br>
                {% endif %}

            </div>
          </div>

        </div>

        <div class="col-lg-3 sidebar">
          {% include "sidebar.html" %}
        </div>
      </div>
    </div>

  </main>

{% endblock %}

{% block scripts %}
  <script src="{% static "js/following.js" %}"></script>
{% endblock %}