{% extends "base.html" %}
{% load static %}
{% load tags %}


{% block content %}
<main class="main">
    <div class="page-title">
        <div class="title-wrapper">
            <h1>Настройка профиля</h1>
            <p>Здесь вы можете настроить свою личную информацию</p>
        </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-wrapper">

                    <form method="post" enctype="multipart/form-data" class="login-form">
                        {% for field in form %}
                            <div class="row mt-3">
                                <div class="col form-group">
                                    <div class="input-group">
                                        {{ field|set_attrs:"class:form-control" }}
                                    </div>
                                </div>
                            </div>
                            <div class="errorlist">
                                {{ field.errors }} 
                            </div>
                        {% endfor %}
                        {% csrf_token %}
                        <p><input type="submit"  value="Сохранить"></p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>




<div>
    <a class="button" href="{% url "password_change" %}">
        Сменить пароль
    </a>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/edit_username.js' %}"></script>
{% endblock %}