{% comment %} {% extends "common/base.html" %} {% endcomment %}
{% load static %}

{% block title %}Установить новый пароль{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
    </div><!-- End Breadcrumbs -->

    <section id="pwd-reset" class="section-bg">
        <div class="container pwd-reset">
            {% if validlink %}
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-8 col-lg-5 ">
                        <form action="." method="post" id="reset-form" class="form">
                            <h2>Установить новый пароль</h2>
                            <p>Введите новый пароль дважды</p>
                            {{ form }}
                            {% csrf_token %}
                            <p class="btn-center"><input type="submit" value="Сохранить"></p> 
                        </form> 
                    </div>
                </div>
            {% else %}
                <p>Ссылка для сброса пароля недействительная, возможно она уже была использована. Пожалуйста, запросите новый сброс паролья.</p>
            {% endif %} 
        </div>
    </section>

{% endblock %}
