{% comment %} {% extends "common/base.html" %} {% endcomment %}
{% load static %}

{% block title %}Новый пароль установлен{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
    </div><!-- End Breadcrumbs -->
    
    <section id="pwd-reset-done" class="section-bg">
        <div class="container form">
            <h2>Новый пароль установлен</h2>
            <p>Новый пароль установлен. Теперь вы можете <a href="{% url "login" %}">войти</a></p>
        </div>
    </section>
{% endblock %}