{% comment %} {% extends "common/base.html" %} {% endcomment %}
{% load static %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">  
          <ol>
            <li><a href="#">Аккаунт</a></li>
            <li><a href="{% url 'profile' %}">Профайл</a></li>
            <li><a href="{% url 'password_change' %}">Сменить пароль</a></li>
            <li class="current">Пароль изменен</li>
          </ol>
  
        </div>
    </div><!-- End Breadcrumbs -->

    <section id="pwd-change-done" class="section-bg">
        <div class="container form">
            <h2>Пароль изменен</h2>
            <p>Ваш пароль был успешно изменен</p>
        </div>
    </section>
{% endblock %}