{% comment %} {% extends "common/base.html" %} {% endcomment %}
{% load static %}

{% block title %}Сменить пароль{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">  
          <ol>
            <li><a href="#">Аккаунт</a></li>
            <li><a href="{% url 'profile' %}">Профайл</a></li>
            <li class="current">Сменить пароль</li>
          </ol>
  
        </div>
    </div><!-- End Breadcrumbs -->

    <section id="pwd-change" class="section-bg">
        <div class="container pwd-change">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-5 ">
                    <form action="." method="post" id="pwd-change-form" class="form">
                        <h2>Сменить пароль</h2>
                        {{ form }}
                        {% csrf_token %}
                        <p class="btn-center"><input type="submit" value="Сохранить"></p>
                    </form> 
                </div>
            </div>
        </div>
    </section>

{% endblock %}