{% comment %} {% extends "common/base.html" %} {% endcomment %}
{% load static %}
{% block title %}Сбросить пароль{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
    </div><!-- End Breadcrumbs -->

    <section id="reset" class="section-bg">
        <div class="container form">
            <h2>Сбросить пароль</h2>
            <p>Мы отправили вам письмо с инструкциями как сбросить пароль.</p> 
            <p>Если вы не получили письмо, пожалуйста, проверьте что вы ввели адрес указанный при регистрации.</p>
        </div>
    </section>
{% endblock %}