{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<main class="main">

        <div class="page-title">
            <div class="title-wrapper">
                <h1>Написать статью</h1>
            </div>
        </div>

        <div class="container" data-aos="fade-up" data-aos-delay="100">
        
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="form-wrapper">

                        <form method="post" id="write-article" enctype="multipart/form-data" class="write-artice-form">
                            <div id="article_form">
                                {{ article_form }}
                                {% comment %} {% for field in article_form %}
                                    <div class="row mt-3">
                                        <div class="col form-group">
                                            <div class="input-group">
                                                {{ field|set_attrs:"class:form-control" }}
                                                {{ field }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %} {% endcomment %}
                            </div>
                            <p class="mt-5">
                                Далее вы можете добавить в статью несколько секций. Для каждой секции можно указать заголовок, но это не обязательно.
                            </p>
                            <div id="sections_formset">
                                <div id="section_empty_form" class="hide">
                                    {{ section_formset.empty_form }}
                                    <div class="d-flex justify-content-end"><input type="button" value="Удалить секцию" class="button"></div>
                                </div>

                                {% for form in section_formset %}
                                    <div class="section-container">
                                        {{ form }}
                                        <div class="d-flex justify-content-end"><input type="button" value="Удалить секцию" class="button"></div>
                                        {% comment %} <div class='section-message'></div> {% endcomment %}
                                    </div>
                                {% endfor %}
                            </div>

                            <div id="section_management_form">
                                {{ section_formset.management_form }}
                            </div>

                            <p><input type="button" value="Добавить еще секцию" id="add_section" class="button"></p>
                            
                            <div id="images_formset">
                                <div id="empty_form" class="hide">
                                    {{ image_formset.empty_form }}
                                    <div class='image-message'></div>
                                </div>
                                {% for form in image_formset %}
                                    <div id="image-{{ forloop.counter0 }}">
                                        {{ form }}
                                        <div class='image-message'></div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div id="image_management_form">
                                {{ image_formset.management_form }}
                            </div>
                
                            <p>
                                <input type="button" value="Add Image" id="add_image">
                            </p>
                            {% csrf_token %}
                            <p>
                                <input type="submit" value="Send article" id="send_article">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</main>

{% endblock %}

{% block scripts %}
  <script src="{% static "js/add_form.js" %}"></script>
  <script src="{% static "js/validate_image.js" %}"></script>
{% endblock %}
