{% extends "base.html" %}
{% load static %}
{% comment %} {% block title %}Media Journal{% endblock %} {% endcomment %}

{% block breadcrumbs %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
        <div class="container position-relative align-items-center" data-aos="fade">  
            <ol>
            <li><a href="{% url 'all_categories' %}">Все категории</a></li>
            {% for parent in article.category.parents %}
                    <li><a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a></li>
            {% endfor %}
            <li class="current">{{ article.category.name }}</li>
          </ol>
        </div>
    </div><!-- End Breadcrumbs -->
{% endblock %}

{% block content %}
    <p>{{ total_views }} view{{ total_views|pluralize }}</p>
    <p><h2>{{ article.title }}</h2></p>
    <div>{{ article.body }}</div>

    <h2>Add a new comment</h2>
    {% comment %} <form action="{% url "post_comment" article.id %}" method="post" id="comment"> {% endcomment %}
    <form method="post" id="comment">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" value="{{ article.id }}" id="article_id">
        <p><input type="submit" value="Add comment" id="submit_comment"></p>
        
    </form>

    <div class="raw" id="comments">
        {% for comment in article.article_comments.all %}
            <div class="col comment">
                <b>{{ comment.created|date:"d.m.y H:i" }} {% if comment.author %}{{ comment.author.username }}{% else %}User deleted{% endif %}</b> {{ comment.body }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
  <script src="{% static "js/comment.js" %}"></script>
{% endblock %}


     