{% extends "base.html" %}
{% load static %}
{% comment %} {% block title %}Media Journal{% endblock %} {% endcomment %}

{% block breadcrumbs %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
        <div class="container position-relative align-items-center" data-aos="fade">  
            <ol>
            <li><a href="{% url 'categories' %}">Все категории</a></li>
            {% for parent in article.category.parents %}
                    <li><a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a></li>
            {% endfor %}
            <li class="current">{{ article.category.name }}</li>
          </ol>
        </div>
    </div><!-- End Breadcrumbs -->
{% endblock %}

{% block content %}
    <div class="row" id="article">
        <div class="article-item">
            <span><img class="user_photo" src={% if article.author and article.author.photo %}{{ article.author.photo.url}}{% else %}{{ default_user_photo.image.url }}{% endif %}></span>
            <span class="author">{% if article.author %}{{ article.author.username }}{% else %}User deleted{% endif %}</span>
            <span class="published">{{ article.published|date:"d.m.y H:i" }}</span>
            <span>{{ total_views }} view{{ total_views|pluralize }}</span>

            {% include "bookmarks.html" with article=article user=request.user %}
            
            <p><h2>{{ article.title }}</h2></p>
            <div>{{ article.body }}</div>

            {% if article.images.all %}
                <div id="article-images" >
                    {% for image in article.images.all %}
                        <img src={{ image.image.url }}>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if article.enable_comments %}
        <div class="row comment-form" id="comment-form" >
            <h4>Add a new comment</h4>
            <form method="post" id="comment">
                {% for field in form %}
                    <div>{{ field }}</div>
                {% endfor %}
                {% csrf_token %}
                <div>
                    <input type="submit" class="button" value="Add comment" id="submit-comment">
                </div>
                <div id="submit-message">
                </div>
            </form>
        </div>

        <div id="comments" class="row">
            {% if article.comments %}
                <div>
                    Комментарии: {{ article.comments.count }}
                </div>
                <div id="comments-list">
                </div>

                <div id="more"> 
                    Показать еще
                </div>
            {% else %}
                <div>
                    Комментариев нет
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static "js/load_comments.js" %}"></script>
    <script src="{% static "js/send_comment.js" %}"></script>
    <script src="{% static "js/bookmarks.js" %}"></script>
{% endblock %}


     