{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<main class="main">

    <div class="container">
      <div class="row">

        <div class="col-lg-9">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container" data-aos="fade-up">

              <article class="article" id="article">

                <div class="article-content" data-aos="fade-up" data-aos-delay="100">
                    <div class="content-header">
                        <div class="author-info">
                            <div class="author-details">
                                <img src={% if article.author.photo %}"{{ article.author.photo.url }}"{% else %}"/media/default/default_user_photo.jpg"{% endif%} alt="Author" class="author-img">
                                <div class="info">
                                <h4><a href="{{ article.author.get_absolute_url }}">{{ article.author.username }}</a></h4>
                                {% if article.author.designation %}
                                  <span class="role">{{ article.author.designation }}</span>
                                {% endif %}
                                </div>
                            </div>

                            <div class="post-meta">
                                <span class="category">
                                    <a href="{{ article.category.get_absolute_url }}">{{ article.category.name }}</a>
                                </span>
                                <span class="divider">•</span>
                                <span class="date">
                                    {% comment %} <i class="bi bi-calendar3"></i> {% endcomment %}
                                    {{ article.published|date:"d M Y H:i"}}
                                </span>
                                <span class="divider">•</span>
                                <span class="views">
                                    <i class="bi bi-eye"></i>
                                    {{ total_views }}
                                </span>
                                <span class="comments">
                                    <i class="bi bi-chat-text"></i>
                                    {{ article.comments.count}}
                                </span>
                                <span class="bookmarks">
                                    <i class="bi {% if user in article.bookmarked_by.all %} bi-bookmark-fill {% else %} bi-bookmark {% endif %}" data-id={{ article.id }}></i>
                                    <span id="bookmarks-count">
                                    {{ article.bookmarked_by.count }}
                                    </span>
                                </span>                            
                            </div>
                        </div>
                        <h1 class="title">{{ article.title }}</h1>
                        
                    </div>

                    <div class="hero-img" >
                        <img src={% if article.cover %}"{{ article.cover.url}}"{% else %}"/media/default/default_article_cover.jpg"{% endif %} alt="Featured blog image" class="img-fluid" loading="lazy">
                      </div>

                  <div class="content">
                    <p class="lead">
                      {{ article.text|linebreaks }}
                    </p>

                    {% for section in article.sections.all %}
                        {% if section.title %}
                            <h2>{{ section.title }}</h2>
                        {% endif %}
                        <p>
                        {{ section.text|linebreaks }}
                        </p>
                        {% if section.quote %}
                            <blockquote>
                                <p>
                                {{ section.quote }}
                                </p>
                                {% if section.quote_description %}
                                <cite>{{ section.quote_description }}</cite>
                                {% endif %}
                            </blockquote>
                        {% endif %}
                        {% if section.highlight %}
                            <div class="highlight-box">
                                <h3>{{ section.highlight }}</h3>
                            </div>
                        {% endif %}
                    {% endfor %}

                  </div>

                  <div class="meta-bottom">
                    <div class="tags-section">
                      <h4>Related Topics</h4>
                      <div class="tags">
                        <a href="#" class="tag">Web Development</a>
                        <a href="#" class="tag">Performance</a>
                        <a href="#" class="tag">Best Practices</a>
                        <a href="#" class="tag">Trends</a>
                        <a href="#" class="tag">2025</a>
                      </div>
                    </div>

                    <div class="share-section">
                      <h4>Share Article</h4>
                      <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="copy-link" title="Copy Link"><i class="bi bi-link-45deg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Author Section -->
          <section id="blog-author" class="blog-author section">

            <div class="container" data-aos="fade-up">
              <div class="author-box">
                <div class="row align-items-center">
                  <div class="col-lg-3 col-md-4 text-center">
                    <img src={% if article.author.photo %}"{{ article.author.photo.url}}"{% else %}"/media/default/default_user_photo.jpg"{% endif %} class="author-img rounded-circle" alt="" loading="lazy">
                  </div>

                  <div class="col-lg-9 col-md-8">
                    <div class="author-content">
                      <h3 class="author-name">{{ article.author.username }}</h3>
                      <span class="author-title">{% if article.author.designation %}{{ article.author.designation }}{% endif %}</span>

                      <div class="author-bio mt-3">
                        {% if article.author.bio %}
                          {{article.author.bio}}
                        {% endif %}
                      </div>

                      <div class="author-website mt-3">
                        <a href="{{ article.author.get_absolute_url }}" class="more-posts">
                          Больше статей этого автора <i class="bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section><!-- /Blog Author Section -->


          {% if article.enable_comments %}

            <!-- Blog Comment Form Section -->
            {% include "comment_form.html" with object_id=article.id object_type="article"%}
            <!-- /Blog Comment Form Section -->

            <!-- Blog Comments Section -->
            <section id="comments" class="blog-comments section" data-id="{{ article.id }}" data-type="article">

              <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="blog-comments-3">
                  {% if article.comments %}
                    <div class="section-header">
                      <h3>Комментарии <span class="comment-count">{{ article.comments.count }}</span></h3>
                    </div>

                    <div id="comments-list" class="comments-wrapper">
                      <!-- Filled here with load_comments.js -->
                    </div>

                    <div class="col my-3 d-flex align-items-center justify-content-center more-comments"> 
                        <span>Показать еще <i class="bi bi-arrow-right"></i></span>
                    </div>
                  {% else %}
                    <div class="section-header">
                      <h3>Комментариев пока нет</h3>
                    </div>
                  {% endif %}
                </div>

              </div>

            </section>
            <!-- /Blog Comments Section -->

          {% endif %}

        </div>

        <div class="col-lg-3 sidebar">
          {% include "sidebar.html" %}
        </div>

      </div>
    </div>

  </main>
{% endblock%}


{% block scripts %}
    <script src="{% static "js/load_comments.js" %}"></script>
    <script src="{% static "js/send_comment.js" %}"></script>
    <script src="{% static "js/bookmarks.js" %}"></script>
{% endblock %}


     