{% extends "base.html" %}
{% load tags %}
{% load static %}

{% block content %}
  <main class="main">
    <div class="container">
      <div class="row">

        <div class="col-lg-9">
          <section id="category-postst" class="category-postst section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">

                <div class="col-lg-12">
                  <article>

                    <div class="category-img">
                      <img src={% if category.image %}"{{ category.image.url }}"{% else %}"/media/default/default_category_image.jpg"{% endif %}>
                    </div>

                    <h2 class="title">
                        {{ category.name }}
                    </h2>

                    <div class="row align-items-center">
                        {% for child in category.children %}
                            <div class="col-4 subcat">
                                <a href="{{ child.get_absolute_url }}" class="readmore"> 
                                    <img src={% if child.image %}"{{ child.image.url }}"{% else %}"/media/default/default_category_image.jpg"{% endif %}>
                                    {{ child.name }} 
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                  </article>
                </div>

                {% for article in articles %}
                  <div class="col-lg-12">
                    <article>

                      <div class="d-flex align-items-center article-header">
                        <img src={% if article.author.photo %}"{{ article.author.photo.url }}"{% else %}"/media/default/default_user_photo.jpg"{% endif %} alt="" class="img-fluid post-author-img flex-shrink-0">
                          <p class="post-author"><a href="{{ article.author.get_absolute_url }}">{{ article.author.username }}</a></p>
                          <p class="post-date">
                            <time datetime="">{{ article.published|date:"d M Y"}}</time>
                          </p>
                          <a href="{{ article.category.get_absolute_url }}">
                            <p class="post-category">{{ article.category.name }}</p>
                          </a>
                      </div>
                      
                      <a href="{{ article.get_absolute_url }}" >
                        <h2 class="title">
                          {{ article.title }}
                        </h2>
                        <div class="post-img">
                          <img src={% if article.cover %}"{{ article.cover.url }}"{% else %}"/media/default/default_article_cover.jpg"{% endif %}>
                        </div>
                      </a>

                      <div class="post-meta">
                        <span>
                          <i class="bi bi-eye"></i>
                          {{ total_views|item:article.id}}
                        </span>
                        <span>
                          <i class="bi bi-chat-dots"></i>
                          {{ article.comments.count }}
                        </span>
                        <span>
                          <i class="bi {% if user in article.bookmarked_by.all %} bi-bookmark-fill {% else %} bi-bookmark {% endif %}" data-id={{ article.id }}></i>
                          <span id="bookmarks-count">
                            {{ article.bookmarked_by.count }}
                          </span>
                        </span>
                      </div>

                    </article> 

                  </div>
                {% endfor %}

              </div>
            </div>
          </section>
        </div>

        <div class="col-lg-3 sidebar">
          {% render_sidebar %}
        </div>

      </div>
      <!-- Pagination 2 Section -->
      <div class="row my-3">
        {% include "pagination.html" with page=articles %}
      </div>
      <!-- /Pagination 2 Section -->
    </div>
  </main>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/bookmarks.js" %}"></script>
{% endblock %}