{% for comment in comments %}
    
    <div class="comment">
        <div class="row comment-header">
            <div class="col-md-auto">
                <img class="user_photo" src="{{ comment.author.photo.url}}">
            </div>
            <div class="col">
                <div class="row">
                    <div class="username">{% if comment.author %}{{ comment.author.username }}{% else %}User deleted{% endif %}</div> 
                    <div class="created">{{ comment.created|date:"d.m.y H:i" }}</div> 
                </div>                     
            </div> 
        </div>
        <div class="row comment-body">
            <div class="col">
                {{ comment.body }}
            </div>
        </div> 
        <div class="row">
            <div class="col-1 answer">
                Ответить
            </div>
        </div>
    </div>

{% endfor %}