{% load tags %}
{% load static %}

<section id="articles" class="articles">
    <div class="container" data-aos="fade-up">
      <div class="row">
        {% for article in articles.all|slice:'6' %}
          <div class="col">
              <div class="article-item position-relative h-100">
                <div class="article-content d-flex flex-column">
                  {% if article.cover %}
                    <img src={{ article.cover.url }} class="img-fluid" alt="">
                  {% else %}
                    <img src="/media/default/default_article_cover.jpg" class="img-fluid" alt="">
                  {% endif %}
                  <div class="row">
                    <div class="col article-category"> 
                      <a href="{{ article.category.get_absolute_url }}">{{ article.category.name }}</a>
                    </div>
                    <div class="col published-date">
                      {{ article.published|date:"d.m.y H:i" }}
                    </div>
                  </div>
                  <div class="article-title">  
                    <a href="{{ article.get_absolute_url }}"><p class="title">{{ article.title }}</p></a>
                  </div>
                  <div class="article-header">
                    <span><img class="user_photo" src={% if article.author and article.author.photo %}{{ article.author.photo.url}}{% else %}{{ default_user_photo.image.url }}{% endif %}></span>
                    <span class="author">{% if article.author %}{{ article.author.username }}{% else %}User deleted{% endif %}</span>
                    {% comment %} <span class="published">{{ article.published|date:"d.m.y H:i" }}</span> {% endcomment %}
                    <span>{{ total_views|item:article.id}} view{{total_views|item:article.id|pluralize}}</span>
                    {% if article.enable_comments %}
                      <span>{{ article.comments.count}} com{{article.article_comments.count|pluralize}}</span>
                    {% endif%}
                    {% include "bookmarks.html" with article=article user=request.user %}
                  </div>
                  
                  
                </div>     
              </div>
          </div>
          {% if forloop.counter|divisibleby:2 %}
            <div class="w-100 gy-3"></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>