{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<main class="main">

    <div class="container">
      <div class="row">

        <div class="col-lg-9">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container" data-aos="fade-up">

              <article class="article" id="one_news" data-article-id="{{ one_news.id }}">

                <div class="article-content" data-aos="fade-up" data-aos-delay="100">
                    <div class="content-header">
                        <div class="author-info">
                            <div class="author-details">
                                <img src={% if one_news.author.photo %}"{{ one_news.author.photo.url }}"{% else %}"/media/default/default_user_photo.jpg"{% endif%} alt="Author" class="author-img">
                                <div class="info">
                                <h4><a href="{{ one_news.author.get_absolute_url }}">{{ one_news.author.username }}</a></h4>
                                {% if one_news.author.designation %}
                                  <span class="role">{{ one_news.author.designation }}</span>
                                {% endif %}
                                </div>
                            </div>

                            <div class="post-meta">
                                {% comment %} <span class="category">
                                    <a href="{{ article.category.get_absolute_url }}">{{ article.category.name }}</a>
                                </span> {% endcomment %}
                                {% comment %} <span class="divider">•</span> {% endcomment %}
                                <span class="date">
                                    {% comment %} <i class="bi bi-calendar3"></i> {% endcomment %}
                                    {{ one_news.published|date:"d M Y H:i"}}
                                </span>
                                <span class="divider">•</span>
                                <span class="views">
                                    <i class="bi bi-eye"></i>
                                    {{ total_views }}
                                </span>
                                <span class="comments">
                                    <i class="bi bi-chat-text"></i>
                                    {{ one_news.comments.count}}
                                </span>
                                <span class="bookmarks">
                                    <i class="bi {% if user in one_news.bookmarked_by.all %} bi-bookmark-fill {% else %} bi-bookmark {% endif %}" data-id={{ one_news.id }}></i>
                                    <span id="bookmarks-count">
                                    {{ one_news.bookmarked_by.count }}
                                    </span>
                                </span>                            
                            </div>
                        </div>
                        <h1 class="title">{{ one_news.title }}</h1>
                        
                    </div>

                    <div class="hero-img" >
                        <img src={% if one_news.cover %}"{{ one_news.cover.url}}"{% else %}"/media/default/default_article_cover.jpg"{% endif %} alt="Featured blog image" class="img-fluid" loading="lazy">
                      </div>

                  <div class="content">
                    <p class="lead">
                      {{ one_news.text|linebreaks }}
                    </p>

                  </div>

                  <div class="meta-bottom">
                    <div class="tags-section">
                      <h4>Related Topics</h4>
                      <div class="tags">
                        <a href="#" class="tag">Web Development</a>
                        <a href="#" class="tag">Performance</a>
                        <a href="#" class="tag">Best Practices</a>
                        <a href="#" class="tag">Trends</a>
                        <a href="#" class="tag">2025</a>
                      </div>
                    </div>

                    <div class="share-section">
                      <h4>Share News</h4>
                      <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="copy-link" title="Copy Link"><i class="bi bi-link-45deg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </article>

            </div>
          </section><!-- /Blog Details Section -->


          {% if one_news.enable_comments %}
            <!-- Blog Comment Form Section -->
            {% include "comment_form.html" with object_id=one_news.id object_type="news"%}
            <!-- /Blog Comment Form Section -->

            <!-- Blog Comments Section -->
            <section id="comments" class="blog-comments section" data-id="{{ one_news.id }}" data-type="news">

              <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="blog-comments-3">
                  {% if one_news.comments %}
                    <div class="section-header">
                      <h3>Комментарии <span class="comment-count">{{ article.comments.count }}</span></h3>
                    </div>

                    <div id="comments-list" class="comments-wrapper">

                    </div>

                    <div class="col my-3 d-flex align-items-center justify-content-center more-comments"> 
                        <span>Показать еще <i class="bi bi-arrow-right"></i></span>
                    </div>
                  {% else %}
                    <div class="section-header">
                      <h3>Комментариев пока нет</h3>
                    </div>
                  {% endif %}
                </div>

              </div>

            </section>
            <!-- /Blog Comments Section -->

          {% endif %}

        </div>

        <div class="col-lg-3 sidebar">
          {% render_sidebar %}
        </div>

      </div>
    </div>

  </main>
{% endblock%}


{% block scripts %}
    <script src="{% static "js/load_comments.js" %}"></script>
    <script src="{% static "js/send_comment.js" %}"></script>
    <script src="{% static "js/bookmarks.js" %}"></script>
{% endblock %}


     