{% comment %} {% extends "common/base.html" %} {% endcomment %}
{% load static %}

{% block title %}Подтверждение регистрации{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
    </div><!-- End Breadcrumbs -->

    <section id="reset" class="section-bg">
        <div class="container form">
            <h1>Подтвердите свой адрес электронной почты</h1>
            <p>Мы отправили вам письмо со ссылкой для подтверждения регистрации. Пожалуйста, проверьте свой ящик.</p> 
        </div>
    </section>
{% endblock %}