{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<main class="main">

    {% if validlink %}
        <section id="contact" class="contact section">
            <div class="page-title">
                <div class="title-wrapper">
                    <h1>Установить новый пароль</h1>
                    <p>Придумайте новый пароль и введите его дважды</p>
                </div>
            </div>

            <div class="container" data-aos="fade-up" data-aos-delay="100">
            
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                    <div class="form-wrapper">

                        <form action="." method="post" id="reset-form" class="login-form">
                            <div class="error-message">
                                {% if form.non_field_errors %}
                                        {{ form.non_field_errors }}
                                {% endif %}
                            </div>
                            
                            <div class="row mt-3">
                                <div class="col form-group">
                                    {% comment %} <div class="help-text">
                                        {{ form.new_password1.help_text }}
                                    </div> {% endcomment %}

                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock"></i>
                                        </span>
                                        {{ form.new_password1|set_attrs:"placeholder:New Password, class:form-control" }}                                   
                                    </div>

                                    <div class="errorlist">
                                        {{ form.new_password1.errors }} 
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col form-group">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock"></i>
                                        </span>
                                        {{ form.new_password2|set_attrs:"placeholder:Repeat Password, class:form-control" }}                                  
                                    </div>

                                    <div class="errorlist">
                                        {{ form.new_password2.errors }} 
                                    </div>
                                </div>
                            </div>

                            {% csrf_token %}

                            <div class="row mt-3">
                                <div class="text-center">
                                    <input type="submit" value="Сохранить">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </section>
    {% else %}
        <p>Ссылка для сброса пароля недействительная, возможно она уже была использована. Пожалуйста, запросите новый сброс паролья.</p>
    {% endif %} 

</main>

{% endblock %}
