{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<main class="main">
    
    <section id="contact" class="contact section">
        <div class="page-title">
            <div class="title-wrapper">
                <h1>Сбросить пароль</h1>
                <p>Введите свой электронный адрес и мы отправим вам письмо чтобы сбросить пароль</p>
            </div>
        </div>

        <div class="container" data-aos="fade-up" data-aos-delay="100">
        
            <div class="row justify-content-center">
                <div class="col-lg-4">
                  <div class="form-wrapper">

                    <form action="." method="post" id="reset-form" class="login-form">
                        
                        <div class="error-message">
                            {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                            {% endif %}
                        </div>

                        <div class="row mt-3">
                            <div class="col form-group">
                                <div class="input-group">
                                    
                                    <span class="input-group-text">
                                        <i class="bi bi-envelope"></i>
                                    </span>
                                    {{ form.email|set_attrs:"placeholder:Email, class:form-control" }}  
                                    {{ form.email.errors }}                                  
                                </div>
                            </div>
                        </div>

                        {% csrf_token %}
                        <div class="row mt-3">
                            <div class="text-center">
                                <input type="submit" value="Отправить">
                            </div>
                        </div>

                    </form> 

                  </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact section">
    </section>

</main>

{% endblock %}