{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
{% block title %}Регистрация{% endblock %}

{% block breadcrumbs %}
    {% comment %} <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg'%});">
    </div><!-- End Breadcrumbs --> {% endcomment %}
{% endblock %}

{% block content %}
    
    <section id="login" class="section-bg">
        <div class="container registration" >
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-5 aos-init aos-animate" data-aos="fade-up" >
                    <form action="." method="post" id="reg-form" class="form">
                        <h2>Регистрация</h2>
                        {{ form }}
                        {% csrf_token %}
                        <p class="btn-center"><input type="submit" value="Создать аккаунт"></p>
                        <div id="login" class="link-text">
                            <a href="{% url "login" %}">Войти</a>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/masks.js' %}"></script>
{% endblock %}