{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main">

    <section id="contact" class="contact section">
        <div class="page-title">
            <div class="title-wrapper">
                <h1>Регистрация завершена</h1>
                <p>Ваш email был подтвержден и аккаунт успешно создан!</p>
                <p>Теперь вы можете <a href="{% url "login" %}">войти</a>.</p>
            </div>
        </div>
    </section>
</main>
    
    {% comment %} <section id="reset" class="section-bg">
        <div class="container form">
            <h2>Welcome {{ new_user.username }}!</h2>
            <p>Your email was confirmed and account was successfully created.</p> 
            <p>Now you can <a href="{% url "login" %}">login</a>.</p>
        </div>
    </section> {% endcomment %}

{% endblock %}