{% for comment in comments %}
    <article class="comment-card {% if comment.parent %}reply{% endif %}">
        <div class="comment-header">
            <div class="user-info">
                <img src={% if comment.author.photo %}"{{ comment.author.photo.url }}"{% else %}"/media/default/default_user_photo.jpg"{% endif %} alt="User avatar" loading="lazy">
                <div class="meta">
                    <a href="{{ comment.author.get_absolute_url }}">
                        <h4 class="name">{% if comment.author %}{{ comment.author.username }}{% else %}User deleted{% endif %}</h4>
                    </a>
                    <span class="date"><i class="bi bi-calendar3"></i>{{ comment.created|date:"d.m.y H:i" }}</span>
                </div>
            </div>
        </div>
        <div class="comment-content">
            <p>{{ comment.text }}</p>
        </div>
        <div class="comment-actions">
            {% comment %} <button class="action-btn like-btn">
                <i class="bi bi-hand-thumbs-up"></i>
                <span>12</span>
            </button> {% endcomment %}
            <button class="action-btn reply-btn">
                <i class="bi bi-reply"></i>
                <span class="answer" data-id={{ comment.id }}>Ответить</span>
            </button>
        </div>
        {% if comment.children %}
            <div class="reply-thread">
                {% include "comments_list.html" with comments=comment.children.all %}
            </div>
        {% endif %}
    </article>        

{% endfor %}